/* :root {
  --passworderror: #ee378a;
  --emailError: #ecba02;
  --primaryColor: #3db46c;
  --secondaryColor: #c6ccc9;
  --appleColor: #777777;
  --googleColor: #fcfcfd;
  --inactiveClass: #a6a7a9;
  --userChatBg: #e2f7fe;
  --whiteColor: #ffffff;
  --appBgInside: #f8f8f8;
  --appBgOutside: #e4e4e4;
  --greyColor: #808080;
  --blackColor: #181818;
  --fontColor: #7d7d7d;
  --secondaryButton: #707070;
} */
